.student-table tr th {
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
}

.student-table tr th .text {
    cursor: pointer;
}
.student-table tr th .text:hover {
    color: cyan;
}

.student-table tr td {
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
}

.student-table tr td:last-child {
    border: none;
}


.student-delete-button {
    font-size: 30px;
    color: white;
    background-color: crimson;
    padding: 1px 5px;
}

.student-avatar {
    width: 48px;
    height: 48px;
}

.submition {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.75);
}

.submition-content {
    background-color: white;
    margin: 20% auto;
    padding: 30px;
    min-width: 250px;
    width: 20%;
    border: 1px solid black;
}

.header {
    padding: 10px 15px
}

.body {
    display: flex;
}

.sub-button {
    margin: auto;
    min-width: 25px;
    width: 125px;
    max-width: 250px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.sub-button:first-child{
    background-color: limegreen;
    color: white;
}

.sub-button:last-child {
    background-color: red;
    color: white;
}

